@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navbar-hover {
        @apply ease-in-out transition-all duration-500 group-hover:scale-110 group-hover:text-red-500;
    }
}

 @font-face {
    font-family: OpenSans;
    src : url('font/Regular/OpenSans-Regular.woff'),
          url('font/Regular/OpenSans-Regular.woff2');
    font-weight:400;
    font-style:normal;
}

 @font-face {
    font-family: OpenSans;
    src : url('font/Bold/OpenSans-Bold.woff'),
          url('font/Bold/OpenSans-Bold.woff2');
    font-weight:700;
    font-style:normal;
}

 @font-face {
    font-family: OpenSans;
    src : url('font/Semibold/OpenSans-Semibold.woff'),
          url('font/Semibold/OpenSans-Semibold.woff2');
    font-weight:600;
    font-style:normal;
}

@layer base {
    html {
        font-family: "OpenSans";
    }
}
